li {
  list-style: none;
  cursor: pointer;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%; 
  cursor: pointer;
}

.navItems {
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  place-items: center center;
}

/* .app {
  display: flex;
}

.counter {
  margin: 0 auto;
} */