/* * {
    margin: 0;
    padding: 0;
}

.textCard {
    font-size: .8rem;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 4px;
}

.cardItem{
    display: grid;
    grid-template-columns: 200px;
    grid-auto-flow: row;
    margin: 1rem;
    padding: .5rem;
    height: 100%;
    background-color: rgb(96, 199, 92);
    border-radius: 4px;
}

.itemButton a {

} */

/* From uiverse.io by @alexruix */
.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 103px 153px max-content max-content;
    place-items: center;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 15px;
   }
   
.card-info {
    width: 190px;
}

   .card-img {
    background-color: #ffcaa6;
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
   }
   
