.itemDetail {
    display: grid;
    border-radius: 10px;
    background-color: rgb(12, 156, 24);
    margin: 1rem;
    padding: 1rem;
    grid-template-columns: 320px 1fr;
    gap: 20px;
    width: max-content;
}

.itemDetail h1 {
    grid-area: 1/1/2/2;
}

.itemDetail h2 {
    grid-area: 1/2/2/3;
}

.itemDetail img {
    border-radius: 5px;
    border-radius: 5px;
    grid-area: 1/2/4/3;
    width: 130px;
    height: 100%;
}

.taste {
    grid-area: 2/1/3/2;

}

.smell {
    grid-area: 3/1/4/2;
}
