/* .navBar {
    display: grid;
    grid-auto-flow: column;
    background-color: #ffcaa6;
    padding: 1rem;
} */

/* .navBar button {
  place-self: center start;
}

.linkDeNav {
    text-decoration: none;
    padding: .5rem;
    border-radius: 15px;
    color: black;
    background-color: white;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%; 
  } */

  