.navBar {
    display: grid;
    grid-auto-flow: column;
    padding: 2rem;
    background-color: blue;
}

.linkDeNav {
    text-decoration: none;
    background-color: red;
    padding: 1rem;
    border-radius: 15px;
    color: white;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%; 
  }